 .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: pink;
  width: 350px; /* Fixed width */
  margin: 0 auto; /* Center horizontally */
  padding: 20px; /* Add padding for better visual appearance */
  margin-top: 200px;
  border-radius:9px;
}
      input{
          width: 150px;
      }
     .gir{
      display:grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 0.2px;
      margin-bottom: 20px;
     }
     p{
      margin-left: 90px;
     }
     button{
      margin-left:160px;
     }